{% extends "BlogApp/base.html" %}


{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Forgot Password</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Auth</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Forgot Password</li>
            </ol>
        </nav>
    </div>
</div>

<br>
<div class="container">
    <hr>
        <p class="fs-1 text-center"><strong class="text-secondary">Reset Link Sent!</strong></p>
    <hr>
    <p class="fs-3 text-center"><span>Kindly Check your email, we have sent instructions for password reset on your email, If you don't find those instructions right away then kindly wait for a few minutes or check your spam folder</span></p>
</div>
<br>
{% endblock body %}